.social-icons-ftr {
  padding-top: 35px;
}
.social-icons-ftr .twitter {
  color: #2ca6df;
}
.social-icons-ftr .facebook {
  color: #3b5999;
}
.social-icons-ftr .linkedin {
  color: #067cb6;
}
.social-icons-ftr .youtube {
  color: #b31217;
}
.social-icons-ftr .googleplus {
  color: #dd4b38;
}
